body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-attachment: fixed;
    color: white;
    width: 100%;
}


nav {
    background-color: rgba(26, 16, 34, 0.72);
    height: 7vh;
}

.card{
    color: gray;
}